{% extends 'base.html' %}

{% block title %}
    Expenses
{% endblock title %}
{% block content %}
    <header>
        <nav>
            <ul>
                <a href="{% url 'home' %}">Main page</a>
                <li>
                    <a href="{% url 'categories_list' %}">Expenses</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create Expense</a>
                </li>
                <li>
                    <a href="{% url 'accounts_list' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create Account</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Add Receipt</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Expenses</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for x in categories_obj %}
                    <tr>
                        <td>{{ x.name }}</td>
                        <td>{{ x.get_total_receipts }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
