<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>create</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <a href="{% url 'home' %}">Main page</a>
                    <li>
                        <a href="{% url 'categories_list' %}">Expenses</a>
                    </li>
                    <li>
                        <a href="{% url 'create_category' %}">Create Expense</a>
                    </li>
                    <li>
                        <a href="{% url 'accounts_list' %}">Accounts</a>
                    </li>
                    <li>
                        <a href="{% url 'create_account' %}">Create Account</a>
                    </li>
                    <li>
                        <a href="{% url 'create_receipt' %}">Add Receipt</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>Create Category</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button>Create</button>
                </form>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>
