{% extends 'base.html' %}

{% block title %}
    Receipts
{% endblock title %}
{% block content %}
    {% load static %}

    <header>
        <nav class="container">
            {% if user.is_authenticated %}
                <div>Hello, {{ user.username }}</div>
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'signup' %}">Sign up</a>
                <a href="{% url 'login' %}">Login</a>
            {% endif %}
            <ul>
                <li>
                    <a href="{% url 'categories_list' %}">Expenses</a>
                </li>
                <li>
                    <a href="{% url 'create_category' %}">Create Expense</a>
                </li>
                <li>
                    <a href="{% url 'accounts_list' %}">Accounts</a>
                </li>
                <li>
                    <a href="{% url 'create_account' %}">Create Account</a>
                </li>
                <li>
                    <a href="{% url 'create_receipt' %}">Add Receipt</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>
            </thead>
            <tbody>
                {% for receipt in receipt_obj %}
                    <tr>
                        <td>{{ receipt.vendor }}</td>
                        <td>{{ receipt.total }}</td>
                        <td>{{ receipt.tax }}</td>
                        <td>{{ receipt.formatted_date }}</td>
                        <td>{{ receipt.category.name }}</td>
                        <td>{{ receipt.account.name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
